@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
}

.scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.scrollbar {
  scrollbar-width: none;
}

body {
  @apply bg-neutral-950 text-gray-200 font-geist font-light;
}

.is-minimized + div,
.is-minimized + ul {
  @apply hidden mb-4;
}

.is-minimized span.chevron {
  @apply !rotate-0;
}

.v-enter-active,
.v-leave-active {
  position: relative;
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  position: absolute;
  opacity: 0;
}
