@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-geist: "Geist", sans-serif;
  --color-main: oklch(0.72 0.11 178);
  --animate-fade-in: fadeIn 0.6s 3s cubic-bezier(0.51, 0.51, 0.4, 1.01) forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

/* Remove scrollbar classes */
.scrollbar::-webkit-scrollbar {
  @apply hidden;
}

.scrollbar {
  scrollbar-width: none;
}

body {
  @apply bg-zinc-900 text-gray-200 font-geist font-light leading-relaxed;
}

.title {
  @apply animate-fade-in;
}

.subtitle {
  @apply animate-fade-in;
  animation-delay: 3.2s;
}

.content {
  @apply animate-fade-in;
  animation-delay: 3.5s;
}

/* Sidebar item styles */
.is-minimized + ul {
  @apply hidden;
}

.is-minimized span.chevron {
  @apply !rotate-0;
}

.router-link-active {
  @apply !bg-neutral-800;
}

/* Table styles */
table {
  @apply text-sm w-full border border-separate rounded-md shadow-md border-zinc-700 border-spacing-0 bg-neutral-900 text-neutral-100;
}

table thead tr {
  @apply text-left bg-zinc-800 text-neutral-200;
}

table th {
  @apply px-6 py-3 font-semibold border-b border-zinc-700;
}

table td {
  @apply px-6 py-3 h-full has-[input]:px-2 has-[input]:py-1;
}

table input {
  @apply h-full w-full px-4 py-2 outline-0 duration-100 focus:bg-zinc-700 focus:border-main hover:border-main rounded-md border border-zinc-700 invalid:!border-rose-500;
}

table tr {
  @apply bg-neutral-800 odd:not-only:bg-neutral-900;
}

table tbody.highlight-first-column tr td {
  /* Only used if first row should be highlighted */
  @apply first-of-type:!font-medium;
}

.gantt-chart-container {
  @apply relative overflow-x-scroll;
}

.gantt-chart-container .lines {
  @apply absolute border-r-[1.5px] border-dashed border-rose-800 w-px h-full z-20;
}

.gantt-chart {
  @apply relative inline-block text-sm border-2 border-zinc-700 rounded-md !overflow-hidden pt-8;
}

.gantt-chart .timeline {
  @apply flex border-b-2 border-zinc-700 font-medium bg-neutral-800 z-30 rounded-t-sm absolute top-0 left-0;
}

.gantt-chart .timeline div {
  @apply min-w-24 p-1;
}

.gantt-chart .interval {
  @apply mb-2 border-b border-b-zinc-700 last:border-0 last:mb-0;
}

.gantt-chart .interval .queue {
  @apply last:mb-2 first:mt-2;
}

.gantt-chart .interval .queue {
  @apply flex text-center relative z-20 mt-1 w-min;
}

.gantt-chart .interval .queue .queue-item {
  @apply w-7 aspect-square flex items-center justify-center border bg-zinc-800 border-zinc-700 first:rounded-l-md last:rounded-r-md;
}

.legend .queue-item {
  @apply w-7 aspect-square flex items-center justify-center border bg-zinc-800 border-zinc-700 first:rounded-l-md last:rounded-r-md;
}

.gantt-chart .interval .process {
  @apply flex mb-3 mt-1 font-bold w-min;
}

.gantt-chart .interval .process div {
  @apply min-w-24 px-1 first:border-l first:rounded-l-md last:rounded-r-md;
}

.gantt-chart .interval .process .processing {
  @apply bg-[size:10px_10px] border border-l-0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  @apply m-0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.field {
  @apply bg-zinc-800 border border-zinc-700 duration-100 focus:border-main rounded-md px-2 py-1.5 outline-0 text-sm invalid:!border-rose-500;
}

.btn {
  @apply bg-zinc-800 border border-zinc-700 duration-100 hover:border-main active:translate-y-0.5 rounded-md px-6 py-1.5 cursor-pointer text-sm font-medium;
}

.btn.disabled {
  @apply text-zinc-500 !bg-zinc-900 hover:border-zinc-700 active:translate-y-0 rounded-md px-6 py-1.5 cursor-default;
}

/* Transitions */
.v-enter-active,
.v-leave-active {
  @apply transition-opacity duration-150 ease-in-out;
}

.v-enter-from,
.v-leave-to {
  @apply opacity-0;
}

.v-enter-to,
.v-leave-from {
  @apply opacity-100;
}

.v-enter-from {
  @apply delay-150;
}

.v-enter-to {
  @apply delay-150;
}
